@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


* {
    scrollbar-width: thin;
    scrollbar-color: var(--color-main) var(--color-button);
  }
  
*::-webkit-scrollbar {
    width: 12px;
}
  
*::-webkit-scrollbar-track {
    background: var(--color-main);
}
  
*::-webkit-scrollbar-thumb {
    background-color: var(--color-button);
    border-radius: 20px;
    border: 3px solid var(--color-main);
}

:root {
    --font-main: 'Bitter', serif;
    --font-secundary: 'Poppins', sans-serif;
    --color-main: #030811;
    --color-link: #787a7c;
    --color-button: #09E695;
    --color-background-button-hover: #06724a;
}

body {
    height: 100vh;
    width: 100vw;
    background: var(--color-main);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.cabecalho {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    height: 100%;
    width: 100%;
    position: relative;
}

.cabecalho > .img-main {
    display: block;
    margin: auto;
    position: absolute;
    top: 0.3em;
}

.cabecalho > .img-main > img {
    width: 22em;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 3em;
    right: 50%;
    left: 50%;
}

.nav-bar > ul {
    list-style: none;
    display: flex;
}

.nav-bar > ul > li {
    margin: 0.6em;
    color: var(--color-link);
    font-family: var(--font-secundary);
}

.nav-bar > ul > li:hover {
    color: var(--color-button);
    transition: 3s;
}

.nav-bar > ul > li > a {
    text-decoration: none;
    color: var(--color-link);
    font-family: var(--font-secundary);
}

.nav-bar > ul > li > a:hover {
    color: var(--color-button);
    transition: 3s;
    cursor: pointer;
}


.nav-bar >  input {
    color: #fff;
    padding: 0.3em;
    background: var(--color-button);
    text-align: center;
    margin-left: 1em;
    font-family: var(--font-secundary);
    border: none;
    border-top-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    cursor: pointer;
}

.nav-bar >  input:hover {
    background: var(--color-background-button-hover);
}
.cabecalho > .container-main {
    position: absolute;
    top: 15em;
}

.cabecalho > .container-main > h1 {
    font-family: var(--font-main);
    font-size: 4em;
    color: #fff;
    text-align: center;
}

.cabecalho > .container-main > h1 > mark {
    background: none;
    color: var(--color-button);
}

.cabecalho > .container-main > .paragraph-container1 {
    padding: 2em;
    font-family: var(--font-secundary);
    color: var(--color-button);
}

.cabecalho > .container-main > .paragraph-container2 {
    color: var(--color-link);
    font-family: var(--font-secundary);
    padding: 2em;
}

.cabecalho > .container-main > .paragraph-container2 > mark {
    background: none;
    color: var(--color-button);
}

.cabecalho > .scroll-anime{
    margin: auto;
}

.cabecalho > .scroll-anime > .img-scroll {
    position: absolute;
    bottom: 0em;
    left: 40%;
    width: 3em;
    animation: scrollDown 2s linear infinite;
}

.sobre-mim {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    height: 100%;
    width: 100%;
    position: relative;
}

.sobre-mim > .sob {
    position: absolute;
    top: 10em;
    left: 1.8em;
    width: 300px;
    height: 500px;
    background: #091120;
    border-radius: 0.5em;
    box-shadow: 0px 0px 5px 1px #000000;
}

.sobre-mim > .sob > h2 {
    padding: 15px;
    text-align: center;
    font-family: var(--font-main);
    color: #fff;
}

.sobre-mim > .sob > p {
    padding: 15px;
    text-align: left;
    line-height: 1.8em;
    font-family: var(--font-secundary);
    color: #fff;
}

.sobre-mim > .sob > p > mark {
    background: none;
    color: var(--color-button);
}

.tecnologias {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    width: 100%;
    height: 100%;
    position: relative;
}

.tecnologias > .conhecimentos > p {
    color: var(--color-button);
    padding: 4em 1em 1em 1em;
    font-family: var(--font-secundary);
    text-align: left;
}

.tecnologias > .conhecimentos > h2 {
    padding: 0.5em;
    color: #fff;
    font-family: var(--font-main);
    text-align: center;
}

.tecnologias > .img-tech {
    padding: 30px;
    display: flex;
}

.tecnologias > .img-tech > .box-card {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias > .img-tech > .box-card > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias > .img-tech > .box-card > p {
   color: #fff;
   text-align: center;
   font-size: 10px;
   font-family: var(--font-secundary);
}

.tecnologias > .img-tech > .box-card > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.tecnologias > .img-tech > .box-card2 {
    margin: 0.3em;
    width: 200px;
    height: 150px;
    background: #091120;
    border-top-color: var(--color-button);
    border-bottom-color: var(--color-button);
}


.tecnologias > .img-tech > .box-card2 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias > .img-tech > .box-card2 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias > .img-tech > .box-card2 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.tecnologias > .img-tech > .box-card2 > img {
    margin-left: 1.4em;
}

.tecnologias > .img-tech > .box-card > img {
    margin-left: 1.4em;
}


.img-tech2 {
    padding: 1px 30px;
    display: flex;
}

.tecnologias > .img-tech2 > .box-card3 {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias > .img-tech2 > .box-card3 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias > .img-tech2 > .box-card3 > img {
    margin-left: 1.4em;
}

.tecnologias > .img-tech2 > .box-card3 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias > .img-tech2 > .box-card3 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}



.tecnologias > .img-tech2 > .box-card4 {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias > .img-tech2 > .box-card4 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias > .img-tech2 > .box-card4 > img {
    margin-left: 1.4em;
}

.tecnologias > .img-tech2 > .box-card4 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias > .img-tech2 > .box-card4 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#verMais {
    display: flex;
    text-align: center;
    padding: 10px;
    font-family: var(--font-secundary);
    background: transparent;
    color: var(--color-button);
    margin: 0 auto;
    margin-top: 3em;
    animation: borderColor 2s ease-in-out infinite;
}


.tecnologias2 { 
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.tecnologias2 > .conhecimentos2 > p {
    color: var(--color-button);
    padding: 4em 1em 1em 1em;
    font-family: var(--font-secundary);
    text-align: left;
}

.tecnologias2 > .conhecimentos2 > h2 {
    padding: 0.5em;
    color: #fff;
    font-family: var(--font-main);
    text-align: center;
}

.tecnologias2 > .img-tech3 {
    padding: 30px;
    display: flex;
}

.tecnologias2 > .img-tech3 > .box-card5 {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias2 > .img-tech3 > .box-card5 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias2 > .img-tech3 > .box-card5 > p {
   color: #fff;
   text-align: center;
   font-size: 10px;
   font-family: var(--font-secundary);
}

.tecnologias2 > .img-tech3 > .box-card5 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.tecnologias2 > .img-tech3 > .box-card6 {
    margin: 0.3em;
    width: 200px;
    height: 150px;
    background: #091120;
    border-top-color: var(--color-button);
    border-bottom-color: var(--color-button);
}


.tecnologias2 > .img-tech3 > .box-card6 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias2 > .img-tech3 > .box-card6 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias2 > .img-tech3 > .box-card6 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

.tecnologias2 > .img-tech3 > .box-card6 > img {
    margin-left: 1.4em;
}

.tecnologias2 > .img-tech3 > .box-card5 > img {
    margin-left: 1.4em;
}


.img-tech4 {
    padding: 1px 30px;
    display: flex;
}

.tecnologias2 > .img-tech4 > .box-card7 {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias2 > .img-tech4 > .box-card7 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias2 > .img-tech4 > .box-card7 > img {
    margin-left: 1.4em;
}

.tecnologias2 > .img-tech4 > .box-card7 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias2 > .img-tech4 > .box-card7 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}



.tecnologias2 > .img-tech4 > .box-card8 {
    width: 200px;
    height: 150px;
    background: #091120;
    margin: 0.3em;
}

.tecnologias2 > .img-tech4 > .box-card8 > h4 {
    font-family: var(--font-main);
    text-align: left;
    padding: 5px;
    color: var(--color-button);
    text-transform: uppercase;
}

.tecnologias2 > .img-tech4 > .box-card8 > img {
    margin-left: 1.4em;
    width: 96px;
}

.tecnologias2 > .img-tech4 > .box-card8 > p {
   color: #fff;
   font-size: 10px;
   text-align: center;
   font-family: var(--font-secundary);
}

.tecnologias2 > .img-tech4 > .box-card8 > p > a {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#verAntes {
    display: flex;
    text-align: center;
    padding: 10px;
    font-family: var(--font-secundary);
    background: transparent;
    color: var(--color-button);
    margin: 0 auto;
    margin-top: 3em;
    animation: borderColor 2s ease-in-out infinite;
}

.projects {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    width: 100%;
    height: 100%;
    position: relative;
}

.projects > p {
    color: var(--color-button);
    padding: 4em 1em 1em 1em;
    font-family: var(--font-secundary);
    text-align: left;
}

.projects > h2 {
    padding: 0.5em;
    color: #fff;
    font-family: var(--font-main);
    text-align: center;
}

.projects > .btnInputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

}

.projects > .btnInputs > input {
    background: var(--color-button);
    font-family: var(--font-main);
    color: var(--color-main);
    padding: 1em;
    margin-top: 1em;
    font-weight: bolder;
}

.projects > .btnInputs > input:hover {
    background: var(--color-main);
    color: var(--color-button);
    transition: 1s;
    padding: 1.5em;
}

.projects > .btnInputs > .frontInput {
    padding: 1em 2em 1em 2em;
    cursor: pointer;
}
.projects > .btnInputs > .backInput {
    padding: 1em 2.4em 1em 2.4em;
    cursor: pointer;
}
.projects > .btnInputs > .gameInput {
    padding: 1em 3em 1em 3em;
    cursor: pointer;
}

.projects > .frontProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projects > .frontProjects > .cardFuerza {
    display: none;
    padding: 1em 2.2em 1em 2.2em;
    background: #091120;
    margin: 0.3em;
    margin-top: 5em;
}

.projects > .frontProjects > .cardFuerza > h3  {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .frontProjects > .cardFuerza > p {
    font-family: var(--font-main);
    text-align: center
}

.projects > .frontProjects > .cardFuerza > p > a {
    color: #fff;
    font-family: var(--font-main);
}


.projects > .frontProjects > .cardBMI {
    display: none;
    padding: 1em;
    background: #091120;
    margin: 0.3em;
}

.projects > .frontProjects > .cardBMI > h3 {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .frontProjects > .cardBMI > p {
    font-family: var(--font-main);
    text-align: center;   
}

.projects > .frontProjects > .cardBMI > p > a {
    color: #fff;
    font-family: var(--font-main);
}



.projects > .backProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projects > .backProjects > .cardBookV {
    display: none;
    padding: 1em 2.2em 1em 2.2em;
    background: #091120;
    margin: 0.3em;
    margin-top: 5em;
}

.projects > .backProjects > .cardBookV  > h3  {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .backProjects > .cardBookV  > p {
    font-family: var(--font-main);
    text-align: center
}

.projects > .backProjects > .cardBookV  > p > a {
    color: #fff;
    font-family: var(--font-main);
}


.projects > .backProjects > .cardTech {
    display: none;
    padding: 1em 3.7em 1em 3.7em;
    background: #091120;
    margin: 0.3em;
}

.projects > .backProjects > .cardTech > h3 {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .backProjects > .cardTech > p {
    font-family: var(--font-main);
    text-align: center;   
}

.projects > .backProjects > .cardTech > p > a {
    color: #fff;
    font-family: var(--font-main);
}

.projects > .gamesProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.projects > .gamesProjects > .cardJokenpo {
    display: none;
    padding: 1em 2.3em 1em 2.3em;
    background: #091120;
    margin: 0.3em;
    margin-top: 5em;
}

.projects > .gamesProjects > .cardJokenpo > h3 {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .gamesProjects > .cardJokenpo > p {
    font-family: var(--font-main);
    text-align: center;   
}

.projects > .gamesProjects > .cardJokenpo > p > a {
    color: #fff;
    font-family: var(--font-main);
}

.projects > .gamesProjects > .cardQuizz {
    display: none;
    padding: 1em 3.7em 1em 3.7em;
    background: #091120;
    margin: 0.3em;
}

.projects > .gamesProjects > .cardQuizz > h3 {
    font-family: var(--font-secundary);
    color: var(--color-button);
    text-transform: uppercase;
    padding: 0.6em;
}

.projects > .gamesProjects > .cardQuizz > p {
    font-family: var(--font-main);
    text-align: center;   
}

.projects > .gamesProjects > .cardQuizz > p > a {
    color: #fff;
    font-family: var(--font-main);
}

.contact {
    scroll-snap-type: y mandatory;
    scroll-snap-align: start end;
    width: 100%;
    height: 100%;
}

.contact > p {
    color: var(--color-button);
    padding: 4em 1em 1em 1em;
    font-family: var(--font-secundary);
    text-align: left;
}

.contact > h2 {
    padding: 0.5em;
    color: #fff;
    font-family: var(--font-main);
    text-align: center;
}

.contact > .whatsapp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
    
}

.contact > .whatsapp > a > .whatsInput {
    padding: 1em 1em 1em 1em;
    text-transform: uppercase;
    background: var(--color-button);
    font-family: var(--font-main);
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.contact > .whatsapp > a > .whatsInput:hover {
    background: var(--color-main);
    color: var(--color-button);
    transition: 1s;
    padding: 1em;
}
.contact > .github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact > .linkedinDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact > .linkedinDiv > a > .linkeInput {
    padding: 1em 1.4em 1em 1.4em;
    text-transform: uppercase;
    background: var(--color-button);
    font-family: var(--font-main);
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.contact > .linkedinDiv > a > .linkeInput:hover {
    background: var(--color-main);
    color: var(--color-button);
    transition: 1s;
    padding: 1.1em;
}

.contact > .github > a > .gitInput {
    padding: 1em 2em 1em 2em;
    text-transform: uppercase;
    background: var(--color-button);
    font-family: var(--font-main);
    font-weight: bold;
    margin-top: 1em;
    cursor: pointer;
}

.contact > .github > a > .gitInput:hover {
    background: var(--color-main);
    color: var(--color-button);
    transition: 1s;
    padding: 1em 1.8em;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer > p {
    font-family: var(--font-secundary);
    color: var(--color-button);
    margin-top: 15em
}





@keyframes borderColor {
   25%  {
    border-top-color: var(--color-button);
   }

   50% {
    border-top-color: #000000;
    border-right-color: var(--color-button);
   }

   75% {
    border-right-color: #000000;
    border-bottom-color: var(--color-button);
   }

   100% {
    border-bottom-color: #000000;
    border-left-color: var(--color-button);
   }

}


@keyframes rotate-tech {
    20% {
        opacity: 1;
        
    }
    25% {
        margin-bottom: 25px;
    }
}

@keyframes scrollDown {
    to {
        bottom: 2em;
    }
}




 







